

body {
    font-family: "Merriweather", serif;
    font-style: normal;
    background-color: #c8eef7;
}


h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: "Fredericka the Great", serif;
    font-weight: 800em;
    letter-spacing: 0.05em;

}





header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #FFD14C;
background: linear-gradient(180deg, rgba(255, 209, 76, 1) 0%, rgba(255, 209, 76, 1) 48%, rgba(200, 238, 247, 1) 95%);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/*top navigation*/
#top-nav {
    position: absolute;
    /*display: none;*/
    text-align: center;
    right: 0;
    top: -200px;
    z-index: 100;
    border: solid 1px black;
    background-color: #f2cd52;
    transition: top .3s ease-in;
    font-size: 1.5em;
}
/*rgba(161, 206, 203, 1)*/
#top-nav a {
    text-decoration: none;
    color: black;
}

#top-nav a:hover {
    background-color: #bbbd5a;
}

.menuwrap:hover #top-nav {
    display: block;

}


#top-nav ul a {
    display: block;
    padding: 5px;
    border-bottom: solid 1px black;
}

#top-nav input {
    display: block;
    margin: 10px 5px;
}


/*choose a program*/



.programs-nav{
    background-color: #c8eef7;
    
}


li.dropdown ul{
    display:none;
}


li.dropdown:hover ul{
    display:block;
    
}

.dropdown{
  width:32%;
  position:relative;
}


.dropdown a{
  text-decoration: none;
    padding:15px;
    background-color: #e4bc3a;
    border-radius: 2px 2px 2px 2px;
    display:block;
    color:#fff;
    
}

.dropdown ul {
    background-color: #f3d571;
    border-radius: 2px 2px 2px 2px;
    position: absolute;
    width:100%;
    
}

.dropdown li a:hover {
    background-color: #85d4e2;
    border-radius: 2px;
}


/*typography design*/


section h2{
    font-size:1rem;text-transform: uppercase;

}

article h3{
    font-size: 1rem;

}

article{
    color:#000;
    margin-bottom:3em;
}

.hero h3 {font-size:1rem;

    
}

.material-symbols-outlined{
    color: #fff;
}

.articleone{
    background-color: #675ea8;
    padding:10px;
    border-radius: 10px;

}

.articletwo{
    background-color: #81ccc0;
    padding:10px;
    border-radius: 10px;
}


.hero{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto;
    overflow: hidden;
    
}

.hero:hover{
    box-shadow: 5px 5px 8px rgb(153, 153, 153);

}

.hero h1{
    font-size: 3em;
}

.hero p {
    background-color: #00000000;
    font-size: 2em;
    color: rgb(255, 255, 255);
}


article img{
    max-width:100%
}

/*Program Cards*/

.card{
    border:solid 2px #757677;
    border-radius: 10px;
    margin-top: 10px;
    transition-property: box-shadow;
    transition-duration: .5s;
    
}

.card:hover{
    box-shadow: 5px 5px 8px rgb(153, 153, 153);       /* x shift, y shift, blur, color */
    /*transform:rotate(1deg);*/
    

}

.card img{
    border-radius: 10px 10px 0 0;
}

.card-body{
    padding:1em;
}

.card h3{
    font-size:.5em;
    text-transform: uppercase;
    margin-bottom:0;
}

.card h2{
    font-size: 1.2em;
}


/*Utility Classes*/

.responsive-img{
    width:100%
}

.no-underline{
    text-decoration:none;
}

.black-color{
    color:#000000;
}


/*media query*/

@media (min-width:768px){

.material-symbols-outlined{
    display:none;

}

#top-nav {
    display: flex;
    position: static;
    border: none;
    background: #FFD14C;
background: linear-gradient(180deg, rgba(255, 209, 76, 1) 0%, rgba(255, 209, 76, 1) 48%, rgba(200, 238, 247, 1) 95%);
    align-items: center;
    z-index: 0;
}

#top-nav li a {
    padding-block:30px;
    margin-left: -16px;
}


#top-nav ul {
    display: flex;


}

#top-nav ul a {
    border: none;
    color: white;

}

#top-nav li {
    margin: 0 1em;
}

.menuwrap:hover #top-nav {
    display: flex;
    
}

.programs-menu{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

/*MAIN GRID*/

.home main{
    
}
}


/*end of media query*/


/*main grid*/



.btn{
    color:#000000;
    background-color: #eb9920;
    text-decoration:none;
    padding: 0.5em 1em;
    border-radius:10px;
    display:inline-block;
}

/*test for cards*/

.episodes{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

  .episode-card{
    width:200px;
    height: auto;
    margin-right:30px;
    margin-bottom:30px;
    border:solid 1px #ddd;
    flex:1 1 auto;
}

.episode-card:last-child{
    margin: right 0%;
}

  .episode-card img{
    width: 100%;
}

  .episode-card p, .episode-card h4{
    margin:1em
}
    .episode-card:hover{
        box-shadow: 5px 5px 8px rgb(153, 153, 153);
    }


    a:link {
        color: blue;
        background-color: transparent;
        text-decoration: none;
      }
      a:visited {
        color: gray;
        background-color: transparent;
        text-decoration: none;
      }
      a:hover {
        color: blue;
        background-color: transparent;
        text-decoration: underline;
      }
      a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
      }

      .Icon{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: auto;
        overflow: hidden;
        
    }